.construction {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    transition-property: font-size;
    transition-duration: .1s;
    padding-bottom: 200px;
}

@media(max-width: 800px) {
    .construction {
        font-size: 22px;
    }
}

@media(max-width: 700px) {
    .construction {
        font-size: 20px;
    }
}

@media(max-width: 600px) {
    .construction {
        font-size: 18px;
    }
}
@media(max-width: 450px) {
    .construction {
        font-size: 14px;
    }
}
@media(max-width: 300px) {
    .construction {
        font-size: 12px;
    }
}
