.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-family: monospace;
    margin: 2px 2px 2px 16px;
    transition-property: all;
    transition-duration: .1s;
    cursor: pointer;
    flex-grow: 0;
}
/*
.logo:hover {
    transform: scale(1.1);
    margin-top: 1px;
}
*/
@media (max-width: 400px) {
    .logo {
        font-size: 12px;
    }
}
@media (min-width: 400px) and (max-width: 500px) {
    .logo {
        font-size: 16px;
    }
} 
@media (min-width: 500px) and (max-width: 700px) {
    .logo {
        font-size: 20px;
    }
}